// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
  position: relative;
}

#gear-dropdown:hover {
  .hidden {
    display: block;
    z-index: 1;
    top: 40px;
    right: 30px;
    width: 70px;
    border: 1px solid gray;
  }
}
.gear-dropdown {
  position: absolute;
  li {
    padding: 3px;
  }
}

.hidden {
  display: none;
}

.editions {
}

.help {
}
