.sections-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid gray;
    li {
      padding: 5px;
    }
    li a {
      padding: 5px;
    }
    li a:hover {
      background-color: lightgray;
    }
  }
}

@media all and (max-width: 1000px) {
  .sections-nav {
    display: none;
  }
}
