<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn" class="dropdown">
				<i class="fa fa-bars"></i>
				<span>sections</span>
				<div class="sections-sidebar" id="sections-sidebar"><%= render partial: 'shared/sections_sidebar' %></div>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	
	</nav>
	<nav class = "right-nav">
	<ul>
		<li><button class = "subscribe-button">Subscribe now</button></li>
		<li><button class = "log-in-button">log in</button></li>
		<li id="gear-dropdown-button">
			<i class="fas fa-cog"></i>
			<%= render partial: 'shared/gear_dropdown' %>
		</li>
		</ul>
	</nav>
</header>