<div id="search-modal">
    <form class="search-modal-form">
    <div></div>
    <div>
        <input type="search" class="search">
        <input type="submit" value="Search">
    </div>
        <div class="close-div"><span class="close"><button class="close-button">X</button></span></div>
    </form>
    
</div>