<% arr=["World", "San Francisco" , "New York" , "Bootcamp Prep" , "Jumpstart" ,"Online" , "Marketing" , "Sales", "TalentMatch" , "Alumni" , "All" ] %>
 <nav class = "sections-sidebar" id = "sections-sidebar">
    <ul class="side-bar">
      <li>World</li>
      <li class="dropdown">San Fran
        <ul>
          <li>Students</li>
          <li>Teaching Assistants</li>
          <li>Instructors</li>
          <li>Career Advisors</li>
          <li>Cats</li>
        </ul>
      </li>
      <li>New York</li>
      <li class="dropdown">Bootcamp Prep
        <ul>
          <li>Students</li>
          <li>Instructors</li>
          <li>Cats</li>
        </ul>
      </li>

      <li>Jumpstart</li>
      <li class="dropdown">Online
        <ul>
          <li>Immersive</li>
          <li>Bootcamp Prep</li>
          <li>Cats</li>
        </ul>
      </li>
      <li>Marketing</li>
      <li class="dropdown">Sales
        <ul>
          <li>Associates</li>
          <li>Analytics</li>
          <li>Cats</li>
        </ul>
      </li>
      <li>TalentMatch</li>
      <li class="dropdown">Alumni
        <ul>
          <li>Students</li>
          <li>Companies</li>
          <li>Opinions</li>
          <li>Cats</li>
        </ul>
      </li>
    </ul>
</nav>


<!-- 
    San Francisco
    Students
    Teaching Assistants
    Instructors
    Career Advisors
    Cats
    
    Bootcamp Prep
    Students
    Instructors
    Cats
    
    Online
    Immersive
    Bootcamp Prep
    Cats
    
    Sales
    Associates
    Analytics
    Cats
    
    Alumni
    Students
    Companies
    Opinions
    Cats -->